body{
    overflow:hidden;
}
.navbar a{
    color: white;
}
.login-wrapper{
    margin: 15px auto;
}

.login-wrapper button{
    width: 100px;
}

.logout:hover{
    cursor:pointer;
}
.bg-blue {
    background-color: #FF8C00;
    padding-top:5%;
    
}
.menu-wrapper {
    height: 100vh;
}

.carousel-inner{
    height: 400px;
}
.progress{
    width:400px;
}