body{
    overflow:hidden;
}
.navbar a{
    color: white;
}
.login-wrapper{
    margin: 15px auto;
}

.login-wrapper button{
    width: 100px;
}

.logout:hover{
    cursor:pointer;
}
.bg-blue {
    background-color: #FF8C00;
}
.menu-wrapper {
    height: 100vh;
}

.carousel-inner{
    height: 400px;
}
.progress{
    width:400px;
}

.ticker{
    height:50px;
    background-color:black;
    color:white;
    padding:15px;
    width:100%
}

.content{
    margin-top:10%;
}

.cabecalho-dark {
    background-color: #343A40;
    text-align: center;
    color: #EBF9EE;
    width: 100%;
    height: 50px;
    padding:4px;
    font-size: 20pt;
}

.clickable{
    cursor:pointer;
}