<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../css/site.css" rel="stylesheet" />
    <title>Investment App</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ENIATO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item" id="menu_perfil" hidden>
                    <a class="nav-link" href="/views/Suitability.html">Perfil de investidor</a>
                </li>
                <li class="nav-item" id="menu_acoes" hidden>
                    <a class="nav-link" href="/views/acoes.html">Minhas Ações</a>
                </li>
            </ul>

        </div>
    </nav>
   
    <div class="teste" style="background-image: url('../imagens/teste.jpg')">
        <br />
        <center>
            <h4> Sobre a<img src="../Imagens/logo.jpg" width="200px" /> </h4>
            <br />
            <img src="../Imagens/Money-2-icon.png" height="50px" ; width="50px" />
            <img src="../Imagens/Ecommerce-This-Way-Up-icon.png" height="50px" width="50px" />
            <img src="../Imagens/Hotel-icon.png" height="50px" ; width="50px" />
            <p>Não tercerize suas decisões,<br />
            Escolha o seu futuro controlando os seus investimentos. <a href="cadastro.html"><strong>Cadastre-se!</strong></a></p>
        </center>
        <br />
        <br />
        <br />
        <br />
        <br />
       
        <div class="row" style="text-align:justify; font-size:small; margin:10px 10px 10px 10px "> 
           
                <div class="col-sm">
                    <center>
                        <h3> O que são ações? </h3>
                    </center>
                <p>
                    Ações representam uma fração do capital social de uma empresa.
                    Ao comprar uma ação o investidor se torna sócio da empresa, ou seja,
                    de um negócio. Passa a correr os riscos deste negócio bem como participa dos
                    lucros e prejuízos como qualquer empresário. Quem compra uma ação na Bolsa de Valores
                    está levando uma pequena parte de uma empresa de terceiros e passa a ser chamado de acionista
                    minoritário.
                </p>
            </div>
            <div class="col-sm">
                <center>
                    <h3>Sintetizando a diversificação:</h3>
                </center>
                <p>
                    A diversificação é uma técnica de gerenciamento de risco que visa distribuir o capital investido em uma certa variedade de investimentos dentro de um portfólio.
                    Assim, o risco do portfólio é consideravelmente reduzido. Normalmente, a diversificação também é capaz de reduzir a volatilidade de um portfólio.
                    Isso porque equaliza ativos de diferentes classes, setores e geografias.
                </p>
            </div>
            <div class="col-sm">
                <center>
                <h3>Nossa proposta:</h3>
                </center>
                <p>
                    Nossa proposta é trazer uma experiência simples para o gerenciamento de ações, possibilitando aos investidores de renda variável uma forma de diversificar seus ativos,
                    essa ideia surgiu a partir de dados que mostram um aumento significativo no número de investidores na bolsa de valores de São Paulo,
                    isso abre portas para trazer a esses novos investidores e também aos mais experientes, um novo jeito de diversificar suas ações.

                </p>
            </div>
        </div>
        <br />
        <br />

    </div>
 
    <div class="footer" style="background-color:black; max-height:30px">
        <center>
    Todos os Direitos Reservados       Enial 2020
        </center>
        
    </div>

</body>
</html>
